<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Chiropractic", chiropractic_path %></li>
<li><%= link_to "Massage", massage_path %></li>
<li><%= link_to "Hypnosis", hypnosis_path %></li>
<li><%= link_to "Review Us", review_us_path %></li>
<li><%= link_to "Contact", contact_path %></li>
