
  <div class="col m4">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "autoinjury.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>
      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "sciatica.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>

    </ul>
  </div>

  <div class="col m4">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "backpain.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>
      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "carpaltunnel.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>
    </ul>
  </div>
  <div class="col m4">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "headaches.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>

      <li class="problem-row">
        <div class="collapsible-header"><%=image_tag "neckpain.jpg", class: "col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</span></div>
      </li>
    </ul>
  </div>
