<div class="row">
  <div class="col s8 l4 offset-s2">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header david about-card"><%=image_tag "David.jpg", class: "people col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Dr. Bagely has been a chiropractic doctor for several years he uses the techniques best suited for your health. He has recently become an Animal chiropractic doctor so he may help with your pets health as well </span></div>
      </li>
    </ul>
  </div>

  <div class="col s8 l4 offset-s2">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header george about-card"><%=image_tag "George.jpg", class: "people col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>George has been a massage therapist for a few years and has recently gone into hypnosis. He makes you feel comfortable and safe under his care.</span></div>
      </li>
    </ul>
  </div>
  <div class="col s8 l4 offset-s2">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li >
        <div class="collapsible-header brandon about-card"><%=image_tag "Brandon.jpg", class: "people col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Brandon has been a massage therapist for 3 years, and has been doing hypnosis longer. He uses the best treatments to help you through whatever is ailing you.</span></div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s8 l4 offset-s2">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header julie about-card"><%=image_tag "Julie.jpg", class: "people col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Juile is the friendly face behind the desk, she will help you schedule your apointments and answer your questions.</span></div>
      </li>
    </ul>
  </div>
  <div class="col s8 l4 offset-s2 sidebar-positioner">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li class="problem-row">
        <div class="collapsible-header morgan about-card"><%=image_tag "Morgan.jpg", class: "people col m10 offset-m1" %></div>
        <div class="collapsible-body"><span>Morgan is the marketing manager here at the wellness center, she has your best interest in mind, and will help you schedule your next visit.</span></div>
      </li>
    </ul>
  </div>
    <%= render "shared/sidebar" %>

</div>
